h1 {
    text-align: center !important;
    margin-bottom: 30px;
}

.jobPostingsList {
    background-color: aliceblue !important;
    min-height: 816px;

}

p, .MuiListItemText-primary {
    color: black;
}

.Deadline, .PresentationDate {
    color: black !important;
}

.positionName {
    margin-right: 15px;
}

.JobPostingsContainer {
    display: inline-grid;
    width: 100%;
    /*grid-template-columns: 27.6% 20.4% 27.6% 11%;*/
}

.JobPostingTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.MuiListItemText-root {
    width: 25%;
}

.location {
    width: 20%;
}

.MuiButton-label {
    color: white;
}

.MuiButton-containedPrimary {
     color: #fff;
     background-color: #3f51b5;
     margin-left: 12px;
 }

.MuiGrid-grid-xs-2 {
    flex-grow: 0;
    max-width: 26.666667% !important;
    padding-right: 61px !important;
}